@import url('https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet');
* {
  font-family: 'Lato', sans-serif; }

#app {
  /* give the outermost container a predefined size */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa; }
  #app .app-body {
    height: calc(100% - 60px - 8vh);
    display: flex;
    margin: 30px 10px 0; }
    #app .app-body > div:not(:last-child) {
      margin-right: 10px; }
