.control-pane-nav .nav-item-container {
  display: flex;
  width: 100%;
  cursor: pointer;
  padding: 10px; }
  .control-pane-nav .nav-item-container:hover {
    background-color: #e2f8ff; }
  .control-pane-nav .nav-item-container .nav-item-icon {
    width: 20px;
    margin-right: 10px; }
  .control-pane-nav .nav-item-container .nav-item-name {
    width: 100%; }
